:root {
  --vp-c-brand-1: #dc2626;
  --vp-c-brand-2: #b91c1c;
  --vp-c-brand-3: #991b1b;
  --vp-button-brand-bg: #dc2626;
  --vp-button-brand-hover-bg: #b91c1c;
  --vp-button-brand-active-bg: #991b1b;
}
